apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
images:
- name: fluxcd/image-automation-controller
  newName: fluxcd/image-automation-controller
  newTag: v0.14.0
